<%= link "index", to: Routes.spell_path(@conn, :index) %>

<h1><%= @spell.name %></h1>

<%= form_for @conn, Routes.spell_path(@conn, :perform, @spell.name), [method: :post], fn f -> %>
  <%= hidden_input :params, :name, value: @spell.name %>

  <%= for param <- @spell.params do %>

    <%= label :params, param.name, param.name %>
    <%= text_input :params, param.name, required: true %>

  <% end %>


  <%= submit do: "Do it!" %>

<% end %>
